<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create note</title>
    <%- include('components/head') %>
</head>
<body>
<div class="container">
    <h2 class="welcome-title">Створити нову нотатку</h2>
    <%- include('components/cat')%>
    <div class="create-note-wrapper">
        <div class="card text-dark mb-3" style="max-width: 18rem;">
                <div class="card-body">
                    <div class="row">
                        <div class="col text-right">
                            <button type="button" class="btn btn-danger" id="cancelBtn"> Відміна </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="note-title"> Назва </label>
                                <input type="text" class="form-control" id="note-title" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="note-txt"> Текст </label>
                                <textarea class="form-control" id="note-txt" rows="3" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-success" id="saveNoteBtn"> Зберегти </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<script src="js/create-note.js"></script>
</body>
</html>