<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

<!--    <link rel="stylesheet" href="static/css/style.css">-->
    <%- include('components/head') %>

    <title>Notes</title>
</head>
<body>

<div class="container">
     <h2 class="welcome-title">Створюйте свої нотатки та списки справ тут!</h2>
    <!--Лого-->
     <div class="pure-css-cat">
            <div class="box">
                <!-- Circular Head-->
                <div class="head">
                    <!-- Circular Head Copy -->
                    <div class="head-copy"></div>
                    <!-- Left Ear ~ Black-->
                    <div class="ear-left">
                        <!-- Inner ear ~ Pink -->
                        <div class="inner-ear"></div>
                    </div>
                    <!-- Right Ear ~ Black-->
                    <div class="ear-right">
                        <!-- Inner Ear ~ Pink-->
                        <div class="inner-ear"></div>
                    </div>
                    <!-- Left Outer Eye ~ Yellow -->
                    <div class="eye-left">
                        <!-- Pupil ~ Black -->
                        <div class="pupil">
                        </div>
                    </div>
                   <!-- Right Outer Eye ~ Yellow -->
                    <div class="eye-right">
                        <!-- Pupil ~ Black -->
                        <div class="pupil">
                        </div>
                    </div>
                    <!-- Nose ~ Pink -->
                    <div class="nose">
                    </div>
                    <!-- End Head -->
                </div>
                <!-- End Invisible Box -->
                <!--
                Copyright (c) 2019 by Anita Olsen (https://codepen.io/AnitaOlsen/pen/GyvLqV)

                Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

                The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

                THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
                -->
            </div>
    </div>

    <button type="button" id="addNoteButton" class="btn btn-warning mb-2"><i class="far fa-comment-alt"></i>Додати нотатку</button>
    <button type="button" id="addListButton" class="btn btn-success mb-2"><i class="far fa-check-square"></i>Додати список справ</button>

    <!--Колонка-->

    <!--Виведення списку нотаток-->
    <div class="card-columns mt-2" id="notesList">
        <% notes.forEach((el)=>{ %>

        <!--Картка Нотатка-->
        <div class="card" data-type="note">
            <div class="card-body">
                <h5 class="card-title">Card Note Title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
        <% }) %>


        <!--Картка Список-->
        <div class="card" data-type="list">
            <div class="card-body">
                <h5 class="card-title">Card List Title</h5>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input type="checkbox" aria-label="Checkbox for following text input">
                        </div>
                    </div>
                    <input type="text" class="form-control" aria-label="Text input with checkbox">
                </div>
            </div>
        </div>

    </div>

</div>

<script src="js/index.js"></script>
</body>
</html>