<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

<!--    <link rel="stylesheet" href="static/css/style.css">-->
    <%- include('components/head') %>

    <title>Notes</title>
</head>
<body>

<div class="container">
        <h2 class="welcome-title">Створюйте свої нотатки та списки справ тут!</h2>

    <%- include('components/cat')%>

    <button type="button" id="addNoteButton" class="btn btn-warning mb-2"><i class="far fa-comment-alt"></i>Додати нотатку</button>
    <button type="button" id="addListButton" class="btn btn-success mb-2"><i class="far fa-check-square"></i>Додати список справ</button>

    <!--Колонка-->
    <div class="card-columns mt-2">

    <!--Картка Список-->
        <div class="card" data-type="list">
            <div class="card-body">
                <h5 class="card-title">Card List Title</h5>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input type="checkbox" aria-label="Checkbox for following text input">
                        </div>
                    </div>
                    <input type="text" class="form-control" aria-label="Text input with checkbox">
                </div>
            </div>
        </div>

    <!--Картка Нотатка-->
        <div class="card" data-type="note">
            <div class="card-body">
                <h5 class="card-title">Card Note Title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>


</div>

<script src="js/index.js"></script>
</body>
</html>