<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your note</title>
</head>
<body>

<div class="container">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"> <%= nts.title %> </h5>
            <p class="card-text"> <%= nts.text %></p>
            <a href="/" class="btn btn-primary">Go back</a>
        </div>
    </div>
</div>

</body>
</html>